body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/736x/cb/32/98/cb3298600fad2cfb15e373551a1548ec.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#container {
    background-color: #5b58588f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
}

h1 {
    text-align: center;
    color: #1e293b;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #334155;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 2px solid #cbd5e1;
    font-size: 14px;
    transition: border 0.2s;
}

input:focus,
select:focus {
    border-color: #681e77;
    outline:none;
}